.heading-container {
    height: fit-content;
    background-color: steelblue;
    color: white;
    width: 100vw;
    text-align: center;
    padding: 10px; 
  }
  
  .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 100%;
    gap: 20px;  
  }

  .card-container {
    font-family: sans-serif;
    min-height: 100vh;
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wrapper {
    height: fit-content;
    width: 400px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    background-color: whitesmoke;
  }

  .wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .text-wrapper {
    text-align: left;
    padding-left: 10px;
  }
  
  .text-wrapper h2 {
    font-weight: lighter;  
  }
  